@import "bootstrap";

$blue: #293e7d;
$red: #dd3930;
$yellow: #eeb93d;
$green: #51aa66;

html, body {
    font-family: 'Roboto', sans-serif;
}

body {
	margin-top: 80px;
}

.navbar {
	border-bottom: solid 1px $blue;
}
.navbar-brand {
    margin-right: 2rem;
}

a {
	color: $blue;
	&:hover {
		text-decoration: underline;
	}
}


/*pipeline*/
.pipeline {
    h4 {
        text-align: center;
    }
    .col-md-4 {
        border-right: solid 1px $blue ;
        &:last-child {
            border-right: none;
        }
    }
}
